ul.legend {
	list-style: none;
	position: relative;
	padding-left: 0;
}
ul.legend li {
	display: inline-block;
	padding: 5px;
}
ul.legend li svg {
	position: relative;
	left: 0;
	vertical-align: text-top;
}
.error pre {
	max-width: calc(80vw);
}

#sites svg {
	width: 16px;
	height: 16px;
}
